#INCLUDE####################################################
# output configuration
set $main "eDP1"
output $main pos 0 0 res 1920x1200

# dpms
output * dpms on

# turn of screen when laptop closed
bindswitch --reload lid:on output $laptop disable
bindswitch --reload lid:off output $laptop enable

# assign workspace to screens
workspace $tag1 output $main
workspace $tag2 output $main
workspace $tag3 output $main
workspace $tag4 output $main
workspace $tag5 output $main
workspace $tag6 output $main
workspace $tag7 output $main
workspace $tag8 output $main
workspace $tag9 output $main
workspace $tag10 output $main

# syncthing
#exec_always bash -c "pgrep -x syncthing || syncthing"
#INCLUDE####################################################
